<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game Interface</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="game-container">
        <div class="game-screen">
            <a class="play-button" href="{{ url_for('game') }}">PLAY</a>
        </div>
        <div class="controls">
            <a href="{{ url_for('train') }}">TRAIN</a>
            <a href="{{ url_for('history') }}">History</a>
        </div>
        <div class="points">
            <span>Points:</span> <span>{{ points }}</span>
        </div>
    </div>
    <div class="sidebar">
        <input type="text" placeholder="Enter a value">
        <ul class="user-list">
            <li>Junkicch</li>
            <li>Lordwerter</li>
            <li>Itsvioleth</li>
        </ul>
        <a href="{{ url_for('change_nickname') }}">Edit Profile</a>
        <a href="{{ url_for('home') }}" class="exit">Sair</a>
    </div>
</body>
</html>
